<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">Positions</h3>
  </div>
  <div class="panel-body">
      <div class="container bootstrap-header-table">
          <div class="row header-row">
              <div>
                  <div class="col-xs-3 header-column">Position Name</div>
                  <div class="col-xs-9 header-column">Position Description</div>
              </div>
          </div>
          <div class="row body-rows">
              <div class="row body-row">
                  <div class="col-xs-3 body-column">Position Name</div>
                  <div class="col-xs-9 body-column">Position Description</div>
              </div>
              <div class="row body-row">
                  <div class="col-xs-3 body-column">Position Name</div>
                  <div class="col-xs-9 body-column">Position Description</div>
              </div>
          </div>
      </div>
  </div>
</div>