<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">Employees</h3>
  </div>
  <div class="panel-body">
      <div class="container bootstrap-header-table">
          <div class="row">
              <input class="form-control" id="EmployeeSearch" name="EmployeeSearch" type="text" placeholder="Search Employees by Full Name or Position" style="margin-bottom:10px;" />
          </div>
          <div class="row header-row">
              <div>
                  <div class="col-xs-3 header-column">Full Name</div>
                  <div class="col-xs-3 header-column">Position</div>
                  <div class="col-xs-3 header-column">Phone (ext)</div>
                  <div class="col-xs-3 header-column">Hire Date</div>
              </div>
          </div>
          <div class="row body-rows">
              <div class="row body-row">
                  <div class="col-xs-3 body-column">First Name Last Name</div>
                  <div class="col-xs-3 body-column">Position Name</div>
                  <div class="col-xs-3 body-column">Phone Num (ext: Extension)</div>
                  <div class="col-xs-3 body-column">HireDate</div>
              </div>
              <div class="row body-row">
                  <div class="col-xs-3 body-column">First Name Last Name</div>
                  <div class="col-xs-3 body-column">Position Name</div>
                  <div class="col-xs-3 body-column">Phone Num (ext: Extension)</div>
                  <div class="col-xs-3 body-column">HireDate</div>
              </div>
          </div>
      </div>
  </div>
</div>